<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Votantes ({{ lstVotantes.length }})</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cargarPosibles()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="loadingVotantes" type="indeterminate" color="success"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let votante of lstVotantes">
      <ion-item >
        <ion-label class="ion-text-wrap">
          {{ votante.nombres }} {{ votante.apellidos }}
          <p>
            <ion-badge color="medium">
              <ion-icon name="card-outline"></ion-icon>
              {{ votante.ci | number}}
            </ion-badge>
          </p>
          <p>
            <ion-icon name="location-outline"></ion-icon>
            {{ votante.local }}
          </p>
          <p>
            <ion-icon name="map-outline"></ion-icon>
            {{ votante.distrito }}, {{ votante.departamento }} 
          </p>
          <p>
            <ion-icon name="locate-outline"></ion-icon>
            {{votante.zona}}
          </p>
        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="confirmDelete(votante)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="setAddModalOpen(true)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal [isOpen]="isAddModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Agregar</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setAddModalOpen(false)">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <app-form-add-votante (votanteAgregado)="lstVotantes.push($event)"></app-form-add-votante>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>