<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="display: flex; justify-content: center;">
    <ion-img src="assets/vote.png" alt="urna de votacion" style="width: 200px;"></ion-img>
  </div>
        

  <form [formGroup]="form">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item fill="outline">
            <ion-label position="floating">Nro. Documento</ion-label>
            <ion-input type="number" formControlName="ci"></ion-input>
            <ion-note slot="error">Ingrese su número de documento</ion-note>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-button expand="block" (click)="ingresar()" [disabled]="loadingLogin">
            <ion-spinner *ngIf="loadingLogin"></ion-spinner>
            <ion-icon *ngIf="!loadingLogin" slot="start" name="enter-outline"></ion-icon>
            <span *ngIf="!loadingLogin">Ingresar</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>


</ion-content>