<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Locales ({{lstResumenLocales.length}})</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cargarResumenConAutorizacion()">
        <ion-icon slot="icon-only" name="refresh-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-progress-bar *ngIf="loadingResumenes" type="indeterminate" color="success"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <span *ngIf="!sessionSrv.autorizadoVerLocales">No autorizado...</span>
  <ion-list *ngIf="sessionSrv.autorizadoVerLocales">
    <ion-item *ngFor="let resumen of lstResumenLocales">
      <ion-label class="ion-text-wrap">{{ resumen.local }}</ion-label>
      <ion-badge slot="end" color="warning">{{ resumen.cantidad | number }}</ion-badge>
    </ion-item>
  </ion-list>
</ion-content>